{% extends "layout.html" %}

{% block head %}
<title>Stem Player Home</title>
{% endblock %}

{% block body %}
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="file" class="form-label"><h4>Input MP3 or WAV File</h4></label>
        <div class="mb-3 d-flex justify-content-center">
            <input class="form-control w-50" type="file" name="file" id="file">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}