{% extends "layout.html" %}

{% block head %}
<title>Stem Player Home</title>
{% endblock %}

{% block body %}
    {% if error_message %}
    <div class="mb-3 d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show w-50" role="alert">
            Please upload a file!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="file" class="form-label"><h4>Input MP3 or WAV File</h4></label>
        <div class="mb-3 d-flex justify-content-center">
            <input class="form-control w-50" type="file" name="file" id="file">
        </div>
        <button class="btn btn-primary" type="submit" onclick="loadSpinner()">Submit</button>
    </form>
    <br>
    <div class="mb-3 d-flex justify-content-center">
        <h2 class="me-2" id="loading" style="display:none">Loading Stems...</h2>
        <div class="spinner-border text-primary" id="spinner" style="width: 3rem; height: 3rem; display:none" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <script>
        function loadSpinner(){
            document.getElementById("spinner").style.display = "block";
            document.getElementById("loading").style.display = "block";
        }
    </script>
{% endblock %}