<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stem Player</title>
</head>
<body>
    <h1>WIP</h1>

    {% for item in file_list %}
    <audio class="myAudio" controls>
        <source src="{{ url_for('send_file', filename=item) }}">
    </audio>

    {% endfor %}
    <button onclick="playAudio()" type="button">Play Audio</button>
    <button onclick="pauseAudio()" type="button">Pause Audio</button>
    
    <script>
        var stems = document.getElementsByClassName("myAudio");
        function playAudio() {
            for (let i = 0; i < stems.length; i++)
            {
                stems[i].play();
            }
        }
        function pauseAudio() {
            for (let i = 0; i < stems.length; i++)
            {
                stems[i].pause();
            }
        }
    </script>
</body>
</html>