{% extends "layout.html" %}

{% block head %}
<title>Stem Player</title>
{% endblock %}

{% block body %}
    <h4>WIP - Use volume sliders for each stem</h4>
    <div class="mb-3">
        {% for item in file_list %}
            {% set name = item.replace(".wav", "") %}
            <div>{{ name }}</div>
            <audio class="myAudio" controls>
                <source src="{{ url_for('send_file', filename=item) }}">
            </audio>
        {% endfor %}
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" id="vidbutton">Play</button> 
    </div>
    
    <script>
        var stems = document.getElementsByClassName("myAudio");
        var playButton = document.getElementById("vidbutton");
        playButton.addEventListener("click", playPause);
        
        function playPause(){
            if (stems[0].paused)
            {
                for (let i = 0; i < stems.length; i++)
                {
                     stems[i].play();
                }
                playButton.innerHTML = "Pause";
            }
            else
            {
                for (let i = 0; i < stems.length; i++)
                {
                     stems[i].pause();
                }
                playButton.innerHTML = "Play";
            }
        }
    </script>
{% endblock %}